.listMovie {
  .slick-next {
    right: 30px;
    color: black;
    font-size: 16px;

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 30px;
    color: black;
    font-size: 16px;
    z-index: 2;

    &::before {
      display: none;
    }
    .slick-dots-bottom {
      color: black;
      z-index: 12;
      &::after {
        // display: none;
      }
    }
  }
}
